body {
  background-color: #000000;
  font-family: "Lucida Console", "Courier New", monospace;
}

p {
    padding: 0px 20px 0px 0px;
}

#page {
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline;
    float: none;
}

#left {
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
    color: #ffffff;

}


#right {
    background-color: #525252;
    float: right;
    width: 50%;
    height: 100%;
    overflow: auto;
    color: #ffffff;
}

.content {
    padding: 0px 0px 0px 20px;
}

a {
    color:#ffffff;
    text-decoration: underline;
    font-weight:bold;
}

a:hover {
    color:#000000;
    text-decoration: underline;
    background-color:#ffffff;
    height:100%;
    width:100%;
    display:inline;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#right li {
    padding: 0px 40px 0px 0px;
}

.active {
  background-color: #525252;
  color: #ffffff;
  display:block;
  height:100%
  width:100%
}

